# Task 2: Predicting customer buying behaviour
## 3. Data transformation

## Import libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from category_encoders import TargetEncoder
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import Binarizer
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import QuantileTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MaxAbsScaler

## Load the data

In [2]:
cat = pd.read_pickle("cat_eda.pickle")
num = pd.read_pickle("num_eda.pickle")

## Separate the target variable

In [9]:
target = num[["booking_complete"]].copy().reset_index(drop=True)

## CATEGORICAL VARIABLES TRANSFORMATION

In [11]:
cat.head()

  sales_channel  trip_type flight_day   route booking_origin
0      Internet  RoundTrip        Sat  OTHERS    New Zealand
1      Internet  RoundTrip        Sat  OTHERS    New Zealand
2      Internet  RoundTrip        Wed  OTHERS          India
3      Internet  RoundTrip        Sat  OTHERS    New Zealand
4      Internet  RoundTrip        Wed  OTHERS          India

### One Hot Encoding

#### Variables to apply OHE

In [12]:
var_ohe = ["sales_channel","trip_type","route","booking_origin"]

#### Instance

In [13]:
ohe = OneHotEncoder(sparse_output = False, handle_unknown='ignore')

#### Train and apply

In [14]:
cat_ohe = ohe.fit_transform(cat[var_ohe])

#### Save as dataframe

In [18]:
cat_ohe = pd.DataFrame(cat_ohe, columns = ohe.get_feature_names_out())
cat_ohe.head()

,sales_channel_Internet,sales_channel_Mobile,trip_type_CircleTrip,trip_type_OneWay,trip_type_RoundTrip,route_AKLKUL,route_CGKHND,route_CGKICN,route_CGKKIX,route_CMBMEL,...,booking_origin_Malaysia,booking_origin_New Zealand,booking_origin_OTHERS,booking_origin_Philippines,booking_origin_Singapore,booking_origin_South Korea,booking_origin_Taiwan,booking_origin_Thailand,booking_origin_United States,booking_origin_Vietnam
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Ordinal Encoding

#### Variables to apply OE

In [32]:
var_oe = ["flight_day"]

#### Order of those variables

In [33]:
order_flight_day = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]

#### Instance

In [34]:
oe = OrdinalEncoder(categories = [order_flight_day],
                    handle_unknown = 'use_encoded_value',
                    unknown_value = 10)

#### Fit and transform

In [35]:
cat_oe = oe.fit_transform(cat[var_oe]) + 1

#### Save as a dataframe

In [37]:
#Add suffixes to variables' names
names_oe = [variable + '_oe' for variable in var_oe]

#Save as a dataframe
cat_oe = pd.DataFrame(cat_oe, columns = names_oe)
cat_oe.head()

   flight_day_oe
0            6.0
1            6.0
2            3.0
3            6.0
4            3.0